RewriteEngine On
# Если запрос не ведёт к существующему файлу или папке – перенаправить на index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?route=$1 [L,QSA]